.cards{
    display: flex;
    flex-direction: wrap; 
    gap: 16px;             
}
.card{
    background:rgb(32, 146, 246);
border-radius: 8px;
padding: 20px;
width: 100%;
box-shadow: 0 4px 8px rgba(0,0,0,1);
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgb(248, 255, 157);
}
section{
    padding: 21px;
    margin: 50px;
    background:rgb(86, 72, 214);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
}
